<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henede.admin.mapper.RoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.henede.admin.domain.Role">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, description, delete_flag AS deleteFlag, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy
    </sql>

	<select id="selectUserRole" parameterType="Integer" resultMap="BaseResultMap">
		select sr.* from sys_user su
		join sys_user_role sur
		on su.id = sur.user_id
		join sys_role sr
		on sur.role_id = sr.id
		where su.id = #{id}
	</select>
</mapper>
