<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.henede.admin.mapper.RoleAuthMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.henede.admin.domain.RoleAuth">
		<id column="role_id" property="roleId" />
		<result column="auth_id" property="authId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id AS roleId, auth_id AS authId
    </sql>

</mapper>
